body {
  background-color: #36311f;
}

.content {
  max-width: 900px;
  margin: auto;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
}

form {
  padding: 1rem;
  width: 50%;
  font-size: 1.25rem;
}
input,
textarea {
  background-color: #201d10;
  display: block;
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  border: none;
  color: white;
}
#send {
  background-color: white;
  color: #201d10;
}
label {
  color: white;
  font-size: 1em;
  display: block;
  margin-bottom: 0.5rem;
}
#message {
  height: 10em;
}
